.sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color);
  border-radius: 20px 20px 0 0;
  touch-action: none;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.handleContainer {
  /* border: solid red 1px; */
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.handleBar {
  width: 12%;
  height: 4px;
  background: var(--primary-blue);
  border-radius: 2px;
}
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: opacity 0.1s;
}

/* ----------------------------- 컨텐츠 영역 */

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.tabWrapper {
  /* border: solid red 1px; */
  background-color: #f0f1f5;
  height: 50px;
  border-radius: 9px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.tabButton {
  flex: 1;
  background: var(--background-color);
  border-radius: 8px;
  font-size: 16px; /* 석준님 거 받고 fs-4로 변경 */
  font-weight: var(--weight-medium);
  color: var(--gray-700);
  cursor: pointer;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-700);
  letter-spacing: var(--letter-spacing-title);
}

/* 드롭다운으로 */
.sortSelect {
  font-size: 10px;
  font-weight: var(--weight-demilight);
  color: var(--gray-400);
  background: none;
  border: none;
  cursor: pointer;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.sheetBody {
  flex: 1;
  overflow-y: auto;
  padding: 0 18px 34px;
}

/* ----------------------------- 드롭다운 정렬 영역 */
.wrapper {
  position: relative;
}

.trigger {
  font-size: 10px;
  font-weight: var(--weight-demilight);
  color: var(--gray-400);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  font-size: 8px;
  color: var(--gray-300);
}

.menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  z-index: 10;
  min-width: 80px;
  padding: 4px 0;
}

.item {
  padding: 4px 10px;
  font-size: 10px;
  color: var(--gray-400);
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.item:hover {
  background-color: var(--gray-100);
}

.selected {
  color: var(--gray-600);
  background-color: var(--gray-100);
}

.listItemWrapper {
  position: relative;
}

.itemOverlay {
  position: absolute;
  inset: 0;
  background: transparent;
  cursor: pointer;
  z-index: 1;
}

/* ----------------------------- 플랜 영역 */

.planDaySection {
  margin-bottom: 48px;
}

.planDayHeader {
  margin-bottom: 14px;
  display: flex;
  gap: 10px;
}

.planDayTitle {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-700);
}

.planDayDate {
  font-size: 10px;
  color: var(--gray-500);
}

.plusButtons {
  display: flex;
  gap: 9px;
  margin-top: 14px;
}

.locationPlus,
.memoPlus {
  flex: 1;
  height: 32px;
  font-size: var(--fs-2);
  color: var(--gray-500);
  border: 1px solid #D5D7DF;
  border-radius: 7.68px;
  cursor: pointer;
}

.iconUp {
  transform: rotate(0deg);
}

.iconDown {
  transform: rotate(180deg);
}

.planActivityItem {
  height: 77px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  padding: 12px;
}

.activityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreIcon {
  width: 20px;
  height: 20px;
  color: var(--primary-blue);
  cursor: pointer;
}

.activityName {
  font-size: 15px;
  font-weight: 700;
  color: var(--gray-600);
}

.activityMemo {
  margin-top: 9px;
  font-size: 10px;
  color: var(--gray-300);
  white-space: pre-wrap; /* 줄바꿈 및 공백 유지 */
  word-break: break-word; /* 단어 길면 줄바꿈 */
}
