.box {
  background-color: #ffffff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  width: 143px;
  border-radius: var(--fs-1);
  height: 116px;
  margin-top: var(--fs-1);
  padding: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.box > * {
  padding: 4 4px;
}

.imgWrap {
  overflow: hidden;
  min-height: 65px;
}

.imgWrap img {
  border-radius: var(--fs-1);
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.box .title {
  font-size: var(--fs-3);
  color: var(--gray-600);
  min-height: 20px;
  white-space: nowrap; /* 한 줄 처리 */
  overflow: hidden; /* 넘치는 건 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
}

.box .dist {
  font-size: var(--fs-1);
  color: var(--secondary-orange);
  min-height: 20px;
  white-space: nowrap; /* 한 줄 처리 */
  overflow: hidden; /* 넘치는 건 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
}
