.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
}

.modal {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
