/* YourComponent.module.css */

.eventBannerSection {
  width: 100%;
  overflow: hidden;
  padding: var(--fs-1) 0;
  margin-top:30px;
  margin-bottom: 30px;
}

.eventBannerTitle {
  font-size: var(--fs-5);
  color: var(--gray-700);
  font-weight: var(--weight-medium);
  margin-bottom: 13px;
}

.bannerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
