/* --------------------------------- DetailImg css */
.imgwrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 215px;
  border-radius: 12px;
  margin-bottom: 27px;
}
.imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --------------------------------- DetailTitle css */
.titlewrap {
  display: flex;
  justify-content: space-between;
}
.titlewrap h3 {
  font-size: 25px;
  color: var(--gray-600);
  letter-spacing: -0.03em;
  font-weight: 600;
  /* border: red solid 1px; */
}
.saveBtn {
  /* border: solid red 1px; */
  right: 1;
}
/* --------------------------------- DetailContent css */
.content {
  display: flex;
  flex-direction: column;
  color: var(--gray-600);
  gap: 20px;
}
.content h3 {
  font-size: 19px;
  letter-spacing: -0.03em;
  font-weight: var(--weight-semibold);
  color: var(--gray-600);
  margin-bottom: 5px;
}
.divider {
  border: none;
  border-bottom: 0.1px solid #eaeaea;
  margin: 4px 0 12px;
}
.content p {
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: var(--weight-demilight);
  line-height: 1.4;
  transition: all 0.3s ease;
  white-space: pre-line;
}
.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toggleBtn {
  margin-top: 8px;
  font-size: var(--fs-2);
  background: none;
  border: none;
  color: var(--gray-300);
  cursor: pointer;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: 2px;
}
.toggleBtn:hover {
  text-decoration: underline;
}
/* --------------------------------- DetailBasicInfo + FestivalInfo css */
.row {
  display: flex;
  margin-bottom: 8px;
}
.label {
  width: 70px;
  /* padding-right: 10px; */
  font-weight: 500;
  color: var(--gray-400);
  flex-shrink: 0;
}
.value {
  color: var(--gray-700);
  word-break: break-word;
  flex: 1;
}
.divider {
  border: none;
  border-bottom: 0.1px solid #eaeaea;
  margin: 4px 0 12px;
}
