.alert {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  background-color: var(--background-color);
  color: var(--gray-500);
  padding: 12px 30px;
  max-width: 60%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-weight: var(--weight-demilight);
  font-size: 16px;
  letter-spacing: -0.02em;
  align-items: center;
  z-index: 1100;
  animation: fadeInOut 2s ease-in-out forwards;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px red solid; */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  20%,
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
}
