.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--background-color);
  width: 96%;
  max-width: 576px;
  border-radius: 13px;
  padding: 27px;
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: var(--weight-demilight);
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.3s ease;
}
.closeBtn:hover {
  color: var(--gray-600);
}

.icon {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #ffe27d;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 18px;
}
.icon img {
  width: 34px;
  height: 34px;
  animation: shake 0.4s ease-in-out;
}
.text {
  font-size: 14px;
  font-weight: var(--weight-regular);
  color: var(--gray-700);
  letter-spacing: -0.01em;
  margin-bottom: 29px;
}

.successBtn {
  width: 40%;
  background-color: var(--primary-blue-40);
  color: var(--background-color);
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.successBtn:hover {
  background-color: var(--primary-blue);
  transform: scale(1.05);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: translateX(1);
  }
}
