.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.box {
  width: 50%;
  height: 170px;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: var(--fs-4);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--fs-3);
}

.box > * {
  width: 100%;
}

.titleinput {
  font-size: var(--fs-3);
  font-weight: var(--weight-medium);
  height: 30px;
}

.titleinput::placeholder {
  color: var(--gray-300);
  font-weight: 400;
}

.titleinput:focus {
  border: 1px solid var(--primary-blue);
}

.btnarea {
  display: flex;
  justify-content: space-around;
}
