.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 13px;
}
.arrowLeftIcon {
  cursor: pointer;
  color: var(--gray-500);
  transition: color 0.2s ease;
}
.plus {
  letter-spacing: -0.03em;
  font-size: 14px;
  color: var(--gray-500);
  transition: color 0.2s ease;
}
.head p {
  font-weight: var(--weight-regular);
  letter-spacing: -0.03em;
  font-size: var(--fs-4);
  transform: translateX(10px);
  color: var(--gray-600);
}
.arrowLeftIcon:hover,
.plus:hover {
  color: var(--primary-blue);
}
.icon {
  cursor: pointer;
  color: var(--secondary-orange-40);
  transition: color 0.2s ease;
}
.icon:hover {
  color: var(--secondary-orange);
}
