.head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 13px;
}
.arrowLeftIcon {
  cursor: pointer;
  color: var(--gray-500);
  transition: color 0.2s ease;
}
.plus {
  letter-spacing: -0.03em;
  font-size: 14px;
  color: var(--gray-500);
  transition: color 0.2s ease;
}
.head p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--fs-5);
  font-weight: 600;
  color: var(--gray-700);
  letter-spacing: -0.03em;
  margin: 0;
}
.arrowLeftIcon:hover,
.plus:hover {
  color: var(--primary-blue);
}
.icon {
  cursor: pointer;
  color: var(--secondary-orange-40);
  transition: 0.2s ease;
}
.icon:hover {
  transform: scale(1.15);
  color: var(--secondary-orange);
}
