.searchWrapper {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  border-radius: 7.15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  padding: 0 15px;
  transition:
    box-shadow 0.3s ease,
    border 0.3s ease;
}
.searchWrapper:focus-within {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}
.searchIcon {
  cursor: pointer;
  margin-right: 9px;
  transition: transform 0.2s ease;
}
.searchIcon:hover {
  transform: scale(1.15);
}
.searchInput {
  font-size: var(--fs-3);
  font-weight: var(--weight-medium);
  font-family: var(--font-body);
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  transition: all 0.3s ease;
}
.searchInput::placeholder {
  color: var(--gray-300);
  font-size: var(--fs-3);
  font-weight: var(--weight-medium);
  font-family: var(--font-body);
  transition: opacity 0.3s ease;
}
.searchInput:focus::placeholder {
  opacity: 0.4;
}
