.container h2 {
  color: var(--gray-700);
  margin-bottom: 12px;
  font-weight: var(--weight-medium);
  font-size: 26px;
  letter-spacing: var(--letter-spacing-title);
}

.description {
  font-size: 15px;
  color: var(--gray-500);
  letter-spacing: var(--letter-spacing-description);
  margin-bottom: 29px;
  font-weight: var(--weight-regular);
}

.container {
  margin-bottom: 34px;
}
.calendarArea {
  width: calc(100% + 36px);
  margin-left: -18px;
}
