.wrapper {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  /* margin: 0 auto; */
  /* border: 1px red solid; */
}

.title {
  font-size: 30px;
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: var(--weight-medium);
  text-align: center;
  letter-spacing: -0.01em;
  animation: fadeUp 0.8s ease both;
}
.registerTitle {
  margin-top: 60px;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  gap: 4px;
}

.inputGroup {
  position: relative;
  max-height: 65px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-300);
  padding: 10px 20px;
  border-radius: 10px;
  gap: 2px;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
}

.inputGroup label {
  font-size: 15px;
  letter-spacing: -0.02em;
  color: var(--gray-300);
  font-weight: var(--weight-regular);
}

.inputGroup input {
  font-size: 15px;
  letter-spacing: var(--letter-spacing-description);
  font-weight: var(--weight-regular);
  color: var(--gray-600);
  border: none;
  outline: none;
  padding-right: 40px;
}

.inputGroup:focus-within {
  border: 1px solid var(--primary-blue-40);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.error {
  padding-left: 3px;
  color: var(--danger);
  font-size: 13px;
  font-weight: var(--weight-regular);
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: var(--secondary-orange-40);
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  font-weight: var(--weight-demilight);
  cursor: pointer;
  transition: color 0.3s ease;
}
.forgot:hover {
  color: var(--secondary-orange);
}
.submit {
  background-color: var(--primary-blue-40);
  color: var(--background-color);
  font-weight: var(--weight-regular);
  padding: 19px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit:hover:enabled {
  background-color: var(--primary-blue);
}
.submit:disabled {
  background-color: var(--gray-250);
  color: var(--gray-400);
  font-weight: var(--weight-regular);
  cursor: not-allowed;
}

.alt {
  text-align: center;
  font-weight: var(--weight-demilight);
  font-size: 14px;
  letter-spacing: var(--letter-spacing-description2);
  margin-bottom: 18px;
  margin-top: 18px;
}

.snsButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 47px;
}

.snsBtn {
  width: 88px;
  height: 63px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  background-color: #ffffff;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}
.snsBtn:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.link {
  color: var(--primary-blue);
  font-weight: var(--weight-regular);
  cursor: pointer;
  margin-left: 3px;
}
.link:hover {
  font-weight: var(--weight-medium);
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.submit.error {
  animation: shake 0.3s;
}

.toggleBtn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
