.title {
  font-size: var(--fs-7);
  font-weight: var(--weight-medium);
  color: var(--gray-700);
}

.description {
  margin-top: 13px;
  font-size: var(--fs-3);
  font-weight: var(--weight-regular);
  color: var(--gray-400);
}

.searchWrapper {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 44.94px;
  border-radius: 7.15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-left: 15px;
}

.searchIcon {
  margin-right: 7px;
}

.searchInput {
  font-size: var(--fs-3);
  font-weight: var(--weight-demilight);
  flex: 1;
}

.cityWrapper {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  gap: 6px;
  scroll-behavior: smooth;
}

.cityWrapper::-webkit-scrollbar {
  display: none;
}

.cityButton {
  flex: 0 0 auto;
  width: 78px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: white;
  color: var(--gray-400);
  font-size: 13px;
  font-weight: var(--weight-regular);
  cursor: pointer;
  white-space: nowrap;
}

.selected {
  background-color: var(--primary-blue);
  color: white;
  border: none;
}

.selectedInfoWrapper {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectedInfoText {
  font-size: var(--fs-5);
  font-weight: var(--weight-medium);
  color: var(--gray-700);
}

.viewAllButton {
  font-size: var(--fs-2);
  color: var(--gray-400);
  background: none;
  border: none;
  cursor: pointer;
}

.popularWrapper {
  width: 100%;
  margin-top: 18px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
  padding-bottom:80px;
}

.popularWrapper::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.popularItem {
  position: relative;
  flex: 0 0 auto;
  margin-right: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popularImage {
  width: 225px;
  height: 152px;
  object-fit: cover;
  border-radius: 13px;
}

.popularBox {
  position: absolute;
  bottom: -47px;
  width: 196px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  z-index: 1;
}

.popularTitle {
  font-size: 18px;
  color: var(--gray-600);
  font-weight: var(--weight-medium);
}

.popularAddress {
  margin-top: 5px;
  font-size: 10.07px;
  color: var(--gray-300);
  font-weight: var(--weight-regular);
}

.recommendTitleText {
  font-size: var(--fs-5);
  color: var(--gray-700);
  font-weight: var(--weight-medium);
}

.recommendWrapper {
  width: 100%;
  margin-top: 18px;
}

.recommendItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  padding-bottom: 10px;
}

.recommendContent {
  display: flex;
  align-items: center;
  gap: 17px;
}

.recommendImage {
  width: 81.32px;
  height: 75.76px;
  object-fit: cover;
  border-radius: 8px;
}

.recommendTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommendTitle {
  font-size: 20px;
  color: var(--gray-600);
  font-weight: var(--weight-medium);
}

.recommendAddress {
  margin-top: 5px;
  font-size: var(--fs-2);
  color: var(--gray-300);
  font-weight: var(--weight-regular);
}

.eventBannerSection {
  margin-top: 30px;
  font-size: var(--fs-5);
  color: var(--gray-700);
  font-weight: var(--weight-medium);
  margin-bottom: 34px;
}

.bookmarkIcon {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
}