/* 프로필 영역 */
.profile {
  display: flex;
  align-items: center;
  gap: 18px;
}
.img {
  width: 82px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info h3 {
  font-size: 19px;
  font-weight: 600;
  /* margin-bottom: 3px; */
}
.info p {
  font-size: 15px;
  color: var(--gray-500);
}
/* 탭 영역 */
.tabs {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 24px 0 20px 0;
  border-bottom: 1px solid var(--gray-200);
}

.tabs button {
  letter-spacing: -0.02em;
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-size: 15px;
  font-weight: var(--weight-regular);
  color: var(--gray-500);
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.tabs .active {
  color: var(--primary-blue);
  font-weight: var(--weight-medium);
}
.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--primary-blue);
  transition:
    transform 0.3s ease,
    width 0.3s ease;
}
/* .tabs .active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--primary-blue);
  transition: all 0.3s ease;
} */
/* 콘텐츠 영역 */
.sliderContainer {
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}
