.title {
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-300);
  padding: 12px 20px;
  border-radius: 10px;
}

.inputGroup label {
  font-size: 15px;
  color: var(--gray-300);
  margin-bottom: 6px;
  font-weight: bold;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.inputGroup input {
  font-size: 15px;
  border: none;
}
.inputGroup:focus-within {
  border: 1px solid var(--primary-blue);
}

.error {
  color: var(--danger);
  font-size: 13px;
  font-weight: bold;
}

.submit {
  background-color: var(--primary-blue-40);
  color: white;
  font-weight: bold;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.submit:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.alt {
  text-align: center;
  font-size: 12px;
  margin: 24px 0 12px;
}

.snsButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.snsBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}
