.tabWrapper {
  margin-bottom: 20px;
  background-color: #f0f1f5;
  height: 50px;
  border-radius: 9px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.tabButton {
  flex: 1;
  border-radius: 8px;
  font-size: var(--fs-4);
  font-weight: 600;
  color: var(--gray-400);
  cursor: pointer;
}

.active {
  background-color: white;
  color: var(--gray-600)
}

.cardListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px; /* 카드 간 간격 */
  padding: 16px; /* 양쪽 여백 */
}
