.container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container h2 {
  color: var(--gray-700);
  margin-bottom: 12px;
  font-weight: var(--weight-medium);
  font-size: 26px;
  letter-spacing: var(--letter-spacing-title);
}

.description {
  font-size: 15px;
  color: var(--gray-500);
  font-weight: var(--weight-regular);
  letter-spacing: var(--letter-spacing-description);
  margin-bottom: 29px;
}

.calendarArea {
  width: calc(100% + 36px);
  margin-left: -18px;
}
.grow {
  animation: textGrow 0.5s ease-in-out;
}

.floatingBtn {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem 1.4rem;
  background-color: var(--primary-blue);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1000;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.floatingBtn:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}

@keyframes textGrow {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.3rem;
    color: var(--primary-blue);
  }
  100% {
    font-size: 1rem;
    color: var(--primary-blue);
  }
}
