.maincontainer > h2 {
  color: var(--gray-600);
  margin: var(--fs-5);
  font-weight: var(--weight-semibold);
  font-size: 26px;
}

.maincontainer p {
  margin: var(--fs-5);
  font-size: 15px;
  color: var(--gray-500);
}

.maincontainer {
  margin-top: 69px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
}

.maincontainer button {
  border: 1px solid red;
  text-align: left;
}
