/* 내 여행 : 여행 일정 만들기 */
.tripCreateCard {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f0f1f5; /* lightGray */
  border-radius: 5px;
  padding: 18px;
  margin-bottom: 23px;
  cursor: pointer;
}
.tripCreateCard h4 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-title);
  color: var(--gray-700);
}
.tripCreateCard p {
  line-height: 1.5;
  font-weight: var(--weight-regular);
  font-size: 12px;
  color: var(--gray-500);
}
.plusIcon {
  justify-content: center;
  align-items: center;
}
.title {
  letter-spacing: -0.02em;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
/* 리스트 없을 때 */
.empty {
  position: relative;
  letter-spacing: -0.02em;
  padding: 8em 0;
  margin-bottom: 20px;
  border: #d2d4da solid 0.2px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: var(--gray-600);
  line-height: 1.5;
}
/* 오버레이 (기본은 안보임) */
.emptyOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.emptyOverlay .plusIcon {
  width: 40px;
  height: 40px;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
}
.empty:hover .emptyOverlay {
  opacity: 1;
  pointer-events: auto;
}
.empty:hover .plusIcon {
  transform: scale(1.2);
  opacity: 1;
}
/* 내여행, 친구목록 리스트 관련 */
.listTile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  gap: 10px;
  padding: 5px 3px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.listCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}
.profile {
  width: 68px;
  height: 68px;
  border-radius: 12px;
  background-color: var(--gray-200);
  flex-shrink: 0;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  flex-grow: 1;
  margin-left: 12px;
}
.info h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
  letter-spacing: var(--letter-spacing-title);
}
.info p {
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-title);
  font-size: 12px;
  color: var(--gray-500);
  white-space: pre-line;
}
.more {
  font-size: 20px;
  color: var(--gray-400);
  color: var(--primary-blue);
}
.more:hover,
.more:active {
  color: var(--secondary-orange);
}

.moreMenu {
  position: absolute;
  top: 100% - 70px;
  right: 3px;
  background: var(--background-color);
  border-radius: 6px;
  padding: 8px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.moreMenu button {
  background: none;
  border: none;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  font-weight: var(--weight-demilight);
  letter-spacing: -0.03em;
}

.moreMenu button:hover {
  background-color: var(--background-color-80);
  color: var(--secondary-orange);
}
.listContainer {
  padding-bottom: 100px;
}
