/* Calendar.module.css */
.container {
  max-height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}
.container > * {
  margin-bottom: var(--fs-3);
}

.monthsection {
  padding: var(--fs-5) 0;
  background-color: var(--gray-100);
  border-top: 1px solid var(--gray-200);
  border-bottom: 1px solid var(--gray-200);
}

.monthtitle {
  font-size: var(--fs-4);
  margin-bottom: 12px;
  font-weight: 600;
  margin: var(--fs-5);
  color: var(--gray-600);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 4px;
}

.daylabel {
  font-weight: bold;
  text-align: center;
  color: var(--gray-600);
}

.weekend {
  color: var(--secondary-orange-40);
}

.datecell {
  height: 60px;
  text-align: center;
  padding: 4px;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.datenumber {
  display: block;
  font-size: 14px;
  color: var(--gray-500);
}

.enddate {
  color: var(--secondary-orange);
}
.hasschedule {
  background-color: rgba(252, 92, 0, 0.301);
  position: relative;
}

.schedulebar {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  height: 6px;
  z-index: 1;
}

.scheduletext {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--fs-2);
  white-space: nowrap;
  color: var(--gray-700);
  z-index: 2;
}

.selectedrange {
  transition: 0.3s ease;
  background-color: rgba(252, 92, 0, 0.301);
}

.datecell:hover,
.datecell:focus {
  transition: 0.3s ease;
  background-color: rgba(252, 92, 0, 0.301);
}
