.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  background: linear-gradient(to bottom, #d8e4ff, var(--background-color));
  font-family: 'Pretendard', sans-serif;
}

.text {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  gap: 4px;
  color: var(--primary-blue);
}

.subtitle {
  margin-top: 16px;
  font-size: 18px;
  color: var(--gray-500);
}
