.addr {
  font-size: var(--fs-3);
  color: var(--gray-blue);
}

.basicinfo {
  display: flex;
  flex-direction: column;
  gap: var(--fs-1);
  font-size: var(--fs-4);
  color: var(--gray-500);
}
.homepage {
  display: flex;
  gap: var(--fs-1);
}
