.festival {
  padding: var(--fs-6) 0;
}
.divider {
  border: none;
  border-bottom: 0.1px solid #eaeaea;
  margin: 4px 0 12px;
}
.festival h3 {
  font-size: 19px;
  letter-spacing: -0.03em;
  font-weight: var(--weight-medium);
  color: var(--gray-600);
  margin-bottom: 5px;
}

.none {
  background-color: var(--gray-250);
  border-radius: 8px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--fs-2) var(--fs-4);
}
