@charset "UTF-8";

/* CSS 리셋 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* FONT : Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@200&display=swap');

/* 기본 스타일 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* 색상 */
  --primary-blue: #719eff;
  --primary-blue-40: #a2bfff;
  --primary-blue-60: #89afff;
  --primary-blue-80: #668ee3;

  --secondary-orange: #ff6d48;
  --secondary-orange-40: #ff9e86;
  --secondary-orange-60: #ff8466;
  --secondary-orange-80: #e95a37;

  --background-color: #fefefe;
  --background-color-80: #fafafa;

  --gray-blue: #8f9ba7;
  --gray-700: #1e1e1e; /*CustomBlack*/
  --gray-600: #3a3a3a; /*CustomBlack50*/
  --gray-500: #717379; /*gray70*/
  --gray-400: #9a9da4; /*gray50*/
  --gray-300: #a5a8af; /*gray*/
  --gray-200: #fafafa; /*LightGray60*/
  --gray-100: #fafafa; /*LightGray10*/

  --danger: #e94e4e;

  /* 폰트 기본값 : Noto Sans KR */
  --font-body: 'Noto Sans KR', sans-serif;
  --font-size-base: 13px;

  /* 폰트 굵기 */
  --weight-demilight: 200; /*inputExample*/
  --weight-regular: 400; /*content*/
  --weight-medium: 500; /*title*/

  /* 폰트 사이즈 */
  --fs-1: 8px;
  --fs-2: 11px; /*detailDescription*/
  --fs-3: 13px; /*listDescription*/
  --fs-4: 16px; /*subTitle*/
  --fs-4: 19px; /*list,detail_subTitle*/
  --fs-5: 24px; /*firstPageTitle*/
  --fs-6: 30px; /*mainTitle*/

  /* 자간 및 높이 */

  --letter-spacing-title: -0.03em;
  --letter-spacing-description: -0.01em;
  --line-height: 1.5;

  /* 그림자 */
  --shadow-map-modal: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --shadow-login-modal: 7px 7px 10px rgba(0, 0, 0, 0.08);
}
html,
body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh - 73px);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  letter-spacing: var(--letter-spacing-description);
  line-height: var(--line-height);
  font-size: var(--fs-3);
  background-color: var(--background-color);
  overflow-x: hidden;
}

#root {
  max-width: 600px;
  width: 100%;
  min-height: calc(100vh - 73px);
  border: red solid 1px;
  background-color: var(--background-color);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 47px 18px 34px 18px;
}
main {
  /* padding: 60px var(--fs-2); */
  border: red solid 1px;
}
main h2 {
  font-size: var(--fs-6);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  /* border: red solid 1px; */
  font-size: var(--fs-2);
  color: var(--primary-blue);
  text-align: center;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--fs-1);
  font-weight: var(--weight-demilight);
}

.mapPage {
  height: 100vh;
  padding: 0;
}
