.card {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 12px;
  padding: 1px;
  width: 100%;
  height: 96px;
  /* border: 1px solid #67d026; */
  position: relative;
  gap: 13px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.thumbnail {
  width: 108px;
  height: 93px;
  /* background-color: var(--background-color); */
  border-radius: 11px;
  flex-shrink: 0;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}

.title {
  width: 80%;
  margin-bottom: 3px;
  display: block;
  font-size: var(--fs-5);
  font-weight: var(--weight-medium);
  letter-spacing: var(--letter-spacing-title);
  color: var(--gray-700);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-size: 9px;
  margin-bottom: 20px;
  letter-spacing: -0.04em;
  color: var(--gray-400);
  font-weight: var(--weight-demilight);
}
.starIcon {
  margin-top: 0.9px;
  display: inline-block;
  vertical-align: middle;
}
.location {
  width: 80%;
  font-size: 11px;
  font-weight: var(--weight-regular);
  color: var(--gray-400);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin: 4px 0; */
}

.saveBtn {
  position: absolute;
  top: 5px;
  right: 2px;
  z-index: 2;
}
