.card {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 12px;
  padding: 1px;
  width: 100%;
  height: 96px;
  /* border: 1px solid #67d026; */
  position: relative;
  gap: 13px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}
.thumbnail {
  width: 108px;
  height: 93px;
  /* background-color: var(--background-color); */
  border-radius: 11px;
  flex-shrink: 0;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 3px;
  display: flex;
  font-size: var(--fs-5);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-title);
  color: var(--gray-700);
}

.rating {
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: -0.04em;
}
.location {
  font-size: var(--fs-3);
  font-weight: var(--weight-regular);
  color: var(--gray-300);
  margin: 4px 0;
}

.saveBtn {
  position: absolute;
  top: 1px;
  right: 0;
}
