.container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0px;
}
.button {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border: none;
  border-radius: 50%;
  background: #f1f3f5;
  color: #343a40;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}
.active {
  background: #ffe066;
}
